<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>MessagesLand</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/9b1a978d56.js" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      input{
          display: block;
          width: 100%;
          height: calc(1.5em + 0.75rem + 2px);
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">  <h5 class="my-0 mr-md-auto font-weight-normal">SecureApp</h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{% url 'message_list' %}">Messages</a>
      {% if user.is_authenticated %}
        {% load permission_tags %}
        {% if user|has_role:'admin' %}
            <a class="p2 text-dark" href="{% url 'user_list' %}">Utilisateurs</a>
        {% endif %}
        <a class="p2 text-dark" href="{% url 'user_logout' %}">Déconnexion</a>
      {% else %}
        <a class="p2 text-dark" href="{% url 'user_register' %}">Inscription</a>
        <a class="p2 text-dark" href="{% url 'user_login' %}">Connexion</a>
      {% endif %}
  </nav>
</div>

<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">

  </footer>
</div>
</body>
</html>