{% extends "layout.html" %}
{% block body_block %}
<form action="{% url 'message_creation' %}" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="author">Auteur</label>
    <input type="text" class="form-control" id="author" placeholder="{{ user.username }}" disabled>
  </div>

  <div class="form-group">
    <label for="content">Mon message ici</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
  </div>
<input type="submit" name="Poster" value="Poster">
</form>
{% endblock %}