{% extends "layout.html" %}
{% block body_block %}
    <h2>Message public effacé (ID : {{ message_id }}) !</h2>
    <br>
    <button onclick="location.href='{% url 'message_list' %}'">Retourner aux messages</button>
{% endblock %}