{% extends "layout.html" %}
{% block body_block %}
    <h2>Vous ne disposez pas des droits suffisant !</h2>
    <br>
    message_list<button onclick="location.href='{% url 'message_list' %}'">Retourner aux messages</button>
{% endblock %}