{% extends "layout.html" %}
{% block body_block %}
<div class="container">
</div>
<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Utilisateurs</h6>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Rôle</th>
                <th>Action</th>
                </tr>
            </thead>
        {% for user in users %}
            <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.is_active  %}Actif{% else %}Inactif{% endif %}</td>
                    {% load permission_tags %}
                    {% if user|has_role:'admin' %}
                        <td>Administrateur</td>
                    {% else %}
                        <td>Chatteur</td>
                    {% endif %}
                    <td><i class="fas fa-user-edit"></i><i class="ml-3 fas fa-user-times"></i></td>
            </tr>
        {% endfor %}
        </table>
    <div class="pagination justify-content-center mt-3">

 <ul class="pagination">
   {% if users.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
     {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
   {% if users.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
 </ul>
</div>
      </div>
    </main>
</div>
{% endblock %}