{% extends 'layout.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Se connecter :</h1>
<form method="post" action="{% url 'user_login' %}">
          {% csrf_token %}
          <input class="form-control mt-5" type="text" name="username" placeholder="Identifiant">
          <input class="form-control mt-2" type="password" name="password" placeholder="*****************">
<input type="submit" class="form-control btn-primary mt-5" name="" value="Connexion">
</form>
</div>
  </div>
{% endblock %}