{% extends "layout.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Création de compte réussie !</h1>
      {% else %}
        <h1>S'inscrire</h1>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" class="mt-5 form-control btn-primary" name="" value="S'inscrire">
        </form>

      {% endif %}
    </div>
  </div>
{% endblock %}